<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Pay My Buddy</title>
</head>
<body>
    <div th:replace="~{/navbar::topbar}"></div>

    <div id="home" class="container main-container">
        <h2>Create my account</h2>
        <h3>My balance: </h3>
    </div>

</body>
</html>